<div class="itinerary-list-container">
  <div *ngIf="itemsForSelectedDay.length > 0; else noActivities" class="timeline">
    <div *ngFor="let item of itemsForSelectedDay" class="timeline-item">
      <div class="timeline-time">{{ item.time }}</div>
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="content-text">
          <span class="activity-type">{{ item.activityType }}</span>
          <h3>{{ item.description }}</h3>
          <p>{{ item.location }}</p>
        </div>
        <button class="btn-icon btn-delete" (click)="onClickDelete(item)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="3 6 5 6 21 6"></polyline>
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <ng-template #noActivities>
    <div class="empty-day">
      <p>No activities planned for this day yet.</p>
    </div>
  </ng-template>
</div>
